
/*CSS style module*/

.container{
  width: 100%;
  padding: 10px;
}

.container > p {
  text-align: center;
}


@media screen and (min-width: 800px) {
.profile-container{
    display:flex;
    justify-content: space-around;
  }
}

.profile-information img{
  max-width: 50%;
  border-radius: 5%;

}

.profile-information{
  flex: 40% 0 1;
  border: 1px solid #007bff;
  border-radius: 5%;
  text-align: center;
  padding-top: 5px;
}

.repo-list{
  overflow-y: scroll;
  max-height: 90vh;
}

.profile-repo > h3{
  text-align: center;
}

.submit-btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.repo-box{
  text-align: center;
  padding: 0 10px 0 10px;
}